stages:
  - build

variables:
  IMAGE_NAME: "airflow"
  IMAGE_TAG: "$HARBOR_REGISTRY/public/$IMAGE_NAME"
  GIT_DEPTH: 0

build-and-push:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  script:
    - |
      echo "{\"auths\":{\"$HARBOR_REGISTRY\":{\"username\":\"$HARBOR_PUB_ROBOT_USER\",\"password\":\"$HARBOR_PUB_ROBOT_PASSWORD\"}}}" > /kaniko/.docker/config.json
      /kaniko/executor \
        --context "${CI_PROJECT_DIR}" \
        --dockerfile "${CI_PROJECT_DIR}/Dockerfile" \
        --build-arg "VERSION=${CI_COMMIT_SHORT_SHA}" \
        --destination "$IMAGE_TAG:latest" \
        --destination "$IMAGE_TAG:$CI_COMMIT_TAG"
  tags:
    - lema
    - default
  only:
    - tags
