apache-airflow==3.0.2
pyspark==3.5.5
pyarrow
apache-airflow-providers-postgres
apache-airflow-providers-mongo
apache-airflow-providers-slack
apache-airflow-providers-redis
apache-airflow-providers-apache-spark
apache-airflow-providers-cncf-kubernetes
apache-airflow-providers-celery
authlib
pydantic
python-dotenv
pandas
geopandas
scikit-learn
scipy
xlrd
lxml
Unidecode
nltk
icrawler
polars
fastparquet
Pillow
beautifulsoup4
requests
pyreaddbc
dbfread
pymongo
openpyxl
dask
chardet
statsd
py7zr